.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    background: #0f0f0f;
    color: aliceblue;
    padding: 0px 45px;
}

.nav-bar li{
    display: inline;
    margin: 0px 10px;
}

.nav-bar a{
    text-decoration: none;
    color: aliceblue;
    width: 0%;
}

.nav-bar a:hover{
    width: 100%;
    color: rgb(187, 187, 187);
}